
img{height:500px;
    padding-left: 23px;
    margin-top: 1px;
    padding-top: 1px;
    align-items: center;
}

h1 {color: rgb(225,167,105);
    font-family: sans-serif;
    font-weight: lighter;
    font-kerning: 5px;
    padding-left: 10px;
}

h2 {text-align: center;
    font-size: 60px;
    font-weight: bold;
}

p {font-family: times;
   margin-left: 100px;
   font-size: 17px;
   padding-right: 10px;
   margin-bottom: 1px;
}
